// main: ../main.scss

@mixin button-hover($color, $number) {
  background-color: $color * $number;
  border-color: $color * $number;
}

@mixin shape($width, $height, $color) {
  width: $width;
  height: $height;
  background-color: $color;
  border-radius: 50%;
}
